*,html{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-first: #ffffff;
    --text-second: #34A0A4;
    --text-third: #B0B0B0;
    --text-fourth: #00a5cf;
    --text-fifth: #5093D0;
    --bg-first: #34A0A4;
    --bg-second: #34a0a42f;
    --bg-third: #777E7675;
    --bg-fourth:#ffffff;
    --bg-fifth: #f9f9f9;
    --bg-sixth: #f9f9f9dd;
    --bg-seventh: #00a5cf;
    --bg-eighth: #FFFF00;
    --bg-ninth: #C93939;
    --bg-tenth: #5093D0;
    --bg-eleventh: #5092d03f;


}
body{
    width: 100%;
    height: 100vh;
}
.flasher-fail{
    color: rgb(205, 34, 69);
    background-color: rgba(205, 34, 68, 0.361);
    border: 2px rgb(205, 34, 69) solid;
}
.flasher-success{
    color:  #2a9d8f;
    background-color: #2a9d9071;
    border: 2px #2a9d8f solid;
}
.container-body{
    height: 87%;
    display: flex;
}
.content{
    margin-left: 50px;
}
.content-header{
    margin-bottom: 20px;
}
.content-header>h4{
    font-size: 24px;
}
.content-body{
    display: flex;
    justify-content: center;
}
.container-payment-method{
    height: 600px;
    width: 294px;
    border-radius: 10px;
    background-color: var(--bg-fifth);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.payment-method-header{
    height: 70px;
    padding: 20px;
    box-sizing: border-box;
}
.payment-method-header>div{
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    border-bottom: 1px var(--text-third) solid;
}
.payment-method-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 103px;
    width: 180px;
    border-radius: 10px;    
    border: 2px solid #AFAFAF;
    margin-bottom: 30px;
    box-sizing: border-box;
    cursor: pointer;
}
.selected-card{
    border: 3px var(--text-fifth) solid;
}
.card>img{
    margin-bottom: 5px;
    border-radius: 8px;
}
.card>div{
    color: var(--text-third);
    font-size: 14px;
}
.payment-method-detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    width: 750px;
}
.payment-method-detail{
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--bg-fifth);
    width: 100%;
    height: 530px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;

}
.invoice{
    width: 80%;
    background-color: var(--bg-second);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}
.invoice>h4{
    font-size: 20px;
    font-weight: bold;
}
.invoice>ul{
    margin-top: 10px;
    list-style-type: none;
    margin-left: 10px;
}
.invoice>ul>li{
    display: flex;
    justify-content: space-between;
}
.choose-detail{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    border-bottom: 2px var(--text-third) solid;
}
.choose-detail>form{
    margin-bottom: 30px;
}
.choose-detail>input[type="tel"]{
    height: 55px;
    width: 352px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 20px;
    box-sizing: border-box;
    color: var(--text-fifth);
    background-color: var(--bg-eleventh);
    font-size: 16px;
}
.choose-detail>input[type="button"]{
    height: 55px;
    width: 100px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: var(--text-first);
    background-color: var(--bg-tenth);
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;

}
.choose-detail>input::placeholder{
    color: var(--text-fifth);
    font-size: 16px;
}
.promo{
    height: 138px;
    width: 574px;
    border-radius: 10px;    
    background: rgba(80, 147, 208, 0.14);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}
.promo>h4{
    color: var(--text-fifth);
    font-size: 16px;
    margin-bottom: 10px;
}
.promo>input[type="text"]{
    height: 55px;
    width: 352px;
    border-radius: 60px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;

}
.promo>input[type="button"]{
    height: 55px;
    width: 150px;
    border-radius: 60px;
    border: none;
    outline: none;
    color: var(--text-first);
    background-color: var(--bg-tenth);
    margin-left: 10px;
    font-size: 16px;

}
.checkout-btn{
    margin-top: 20px;
    height: 55px;
    width: 570px;
    border-radius: 60px;
    color: var(--text-first);
    background-color: var(--bg-first);
    border: none;
    cursor: pointer;
}